[submodule "et/Embedded-Test"]
	path = et/Embedded-Test
	url = https://github.com/QuantumLeaps/Embedded-Test/
[submodule "example/blue_pill/STM32CubeF1"]
	path = example/blue_pill/STM32CubeF1
	url = https://github.com/STMicroelectronics/STM32CubeF1
